---
layout: base
title:  "Acerca de"
date:   2014-07-05 18:33:22
lang:   es
author:
  name: "Manuel Vega Ulloa"
categories: es about
---
 
<article class="container">
	<h1>Acerca de ...</h1>
	<h2>Otra Localización Ecuatoriana de Odoo desarrollada por Manexware S.A.(OpenFrog)</h2>

	<h3>¿Qué es OpenFrog?</h3>

	<p>OpenFrog es una localización ecuatorian de Odoo que se enfoca en los principios básicos del Código Libre o Open Source.</p>

	<h3>¿Quíenes desarrollan OpenFrog?</h3>

	<p>Seres humanos, que con inversión personal o privada, planifican, diseñan y codifican la localización con objetivos diversos, pero con un eje bien claro: que Odoo sea una alternativa válida y poderosa entre los software de negocios del Ecuador.</p>
	<p>Existen actualmente cuatro equipos que representan los roles dentro de la localización.<p>
	<ul>
		<li>Owners- Listado de personas que son responsables de que la localización crezca. Tienen como objetivo realizar los merges y completar los equipos. Para participar de este equipo tienes que haber participado en al menos dos de los otros equipos.</li>
		<li>Desarrolladores- Lista de desarrolladores de la localización. Esta lista se completa con aquellos que han resuelto casos y han implementado funcionalidades en la localización.</li>
		<li>Funcionales- Lista de funcionales de la localización. Gente que ha propuesto nuevos requisitos y lograron completar la documentación suficiente para que sean implementados.</li>
		<li>Testers- Listado de testers de la localización. Personas que no solo se han atrevido a testear la localización, sino que también han dado su feedback y ayudaron a cerrar casos.</li>
	</ul>

	Todas estas personas tienen visibilidad porque han aportado. Buscamos eso justamente para incentivar la participación. Sin esta gente no hay localización.

	<h3>¿Cómo se desarrolla OpenFrog?</h3>

	<p>OpenFrog promueve un proceso de desarrollo formulado en <a href="/collab">Cómo colaborar</a>. Buscamos que el mismo abarque todas las etapas de desarrollo, desde identificación de requisitos, diseño de funcionalidades, testing e implementación, hasta mantenimiento. También sabemos que hay que ser flexibles, porque sin flexibilidad es difícil avanzar en una dirección conveniente a todos. Es por ello que nuestros métodos son puesto a discusión en todo momento por cualquier persona en forma de propuestas. Solo pedimos que sean prácticos y formales en las críticas, que los problemas identificados sean compartidos con una propuesta clara y consisa como solución.</p>

	<h3>¿Cuándo y donde se desarrolla?</h3>

	<p>En todo momento y en todo lugar. Es un desarrollo, que en principio, no tiene ni tiempo ni espacio. Los tiempos los asigna cada uno cuando puede y el tiempo que considere. No hay obligaciones si no más bien compromiso. Ninguno de los desarrolladores aportar con horario fijo, ni lugar fijo. Somos en principio amantes del Software Libre. Pero todo esto no significa que no avanzamos, sino todo lo contrario, ya que hay gente que confia en nosotros e invierte porque sabe que el resultado de nuestro trabajo les es útil.</p>

	<h3>¿Por qué?</h3>

	<p>Por reconociento, por nuestras futuras oportunidades de trabajo, por altruismo, o las razones que sean no importa ya que todos estamos enmarcados en los principios del Software Libre. Lo que si buscamos es un espacio, una comunidad, donde las decisiones se tomen de forma coherente, con la razón y con conocimiento de causa. Reduciéndo los tiempos de decisión con discusiones estructuradas y acertivas.</p> 
	
	<h3>¿Para qué?</h3>

	<p>Odoo es una herramienta de negocio poderosa, que consideramos indispensable para el crecimiento de nuestro país. Permite a las PyMEs acceder a otro nivel administrativo donde Internet y las lógicas modernas de negocios son el medio para su éxito.</p>

</article>
