<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title.[page.lang] %}{{ page.title.[page.lang] }} &mdash; {{ site.inc.title.[page.lang] }}{% else %}{{ site.inc.title.[page.lang] }} &mdash; {{ site.inc.subtitle.[page.lang] }}{% endif %}</title>
    {% if site.inc.google_font %}<link href="https://fonts.googleapis.com/css?family={{ site.inc.google_font }}" rel="stylesheet" type="text/css">{% endif %}
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/eudoro.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-png" />
    <link rel="apple-touch-icon" href="/images/{{ site.inc.logo }}"/>
    <link href="{{ site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.inc.title.[page.lang] }}" />
    <meta name="title" content="{% if page.title.[page.lang] %}{{ page.title.[page.lang] }} {% else %}{{ site.inc.title.[page.lang] }}{% endif %}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% if page.site.gplus %}<link rel="publisher" href="https://plus.google.com/{{ site.inc.gplus }}">{% endif %} 
    {% if page.author.gplus %}<link rel="author" href="https://plus.google.com/{{ page.author.gplus }}">{% endif %}       
    <meta property="og:title" content="{% if page.title.[page.lang] %}{{ page.title.[page.lang] }} {% else %}{{ site.inc.title.[page.lang] }}{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if page.cover_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.cover_image }}"/>
    {% if page.main_image %}
    <meta property="og:image" content="{{ site.url }}/images/{{ page.main_image }}"/>  
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/{{ site.inc.logo }}"/>   
    {% endif %}
    {% if page.excerpt %}
    <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
    <meta name="description" content="{{ page.excerpt | strip_html }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ site.inc.title.[page.lang] }}">     
</head>
<body>
<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="/">
                <img src="/images/{{ site.inc.logo }}" alt="Inc">
            </a>
	    {% if site.inc.faq.link %}<a href="{{ site.inc.faq.link }}">{{ site.inc.faq.text.[page.lang] }}</a>{% endif %}
	    {% if site.inc.func.link %}<a href="{{ site.inc.func.link }}">{{ site.inc.func.text.[page.lang] }}</a>{% endif %}
	    {% if site.inc.collab.link %}<a href="{{ site.inc.collab.link }}">{{ site.inc.collab.text.[page.lang] }}</a>{% endif %}
	    {% if site.inc.about.link %}<a href="{{ site.inc.about.link }}">{{ site.inc.about.text.[page.lang] }}</a>{% endif %}
        </nav>
	<nav id="language">
		<a href="/">{{ site.inc.languages.es.[page.lang] }}</a>
		<a href="/en">{{ site.inc.languages.en.[page.lang] }}</a>
	</nav>
        {% if site.inc.tagline.[page.lang] or site.inc.product_url or site.inc.github_link %}<nav class="tagline">
            {% if site.inc.tagline.[page.lang] %}<span>{{ site.inc.tagline.[page.lang] }}</span>{% endif %}
            {% if site.inc.product_link %}<a href="{{ site.inc.product_link }}" class="btn btn-outline">Learn More</a>{% endif %}
	    {% if site.inc.github_link %}<a href="{{ site.inc.github_link }}" class="odoo-url">
		    <img src="/images/GitHub-Mark-32px.png" alt="GitHub">{{ site.inc.github_text.[page.lang] }}</a>{% endif %}
        </nav>{% endif %}
    </header>
</section>

{{ content }}

<footer class="site-footer">
    <div class="container">
        &copy; {{ site.time | date: "%Y" }} 
        
        <nav class="sections">
             <ul>
                 <li><a href="/">Inicio</a></li>
                 {% if site.inc.faq.link %}<li><a href="{{ site.inc.faq.link }}">{{ site.inc.faq.text.[page.lang] }}</a></li>{% endif %}
                 {% if site.inc.func.link %}<li><a href="{{ site.inc.func.link }}">{{ site.inc.func.text.[page.lang] }}</a></li>{% endif %}
                 {% if site.inc.collab.link %}<li><a href="{{ site.inc.collab.link }}">{{ site.inc.collab.text.[page.lang] }}</a></li>{% endif %}
                 {% if site.inc.about.link %}<li><a href="{{ site.inc.about.link }}">{{ site.inc.about.text.[page.lang] }}</a></li>{% endif %}
             </ul>
        </nav>
        
        <nav class="social">
            {% if site.inc.twitter %}
            <a href="https://twitter.com/{{ site.inc.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
            {% endif %}
            {% if site.inc.facebook %}
            <a href="http://facebook.com/{{ site.inc.facebook }}" title="Follow on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
            {% endif %}    
            <a href="/feed.xml" title="RSS Feed">
                <i class="icon icon-rss black"></i>
            </a>
        </nav>
        <p>Incorporated theme by <a href="http://www.manexware.com">Manexware S.A.</a></p>
    </div>
</footer>

{% include _scripts.html %}

</body>
</html>
